{% extends "blog/base.html" %}

{% block title %}Share a post{% endblock %}

{% block content %}

    {%if sent %}

        <h3>E-mail successfully sent</h3> 
        <p> "{{ post.title }}" was successfully sent to {{ form.cleaned_data.to }}. </p>

    {% else %}

        <h2>Share "{{ pos.title }}" by e-mail </h2>
        <form method = 'post'>
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Send email">
        </form>

    {% endif %}
    
    {% for field in form %}
        <div>
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}

{% endblock %}